body
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#jrt-timer
{
    margin: 0px 10%;
    padding: 10px;
}
#jrt-setTimeSec
{
    text-align: center;
}
#jrt-timerCountDwn
{
    background-color: #e9edf1;
    padding: 15px 10px 5px 10px;
    margin-top: 10px;
    border-radius: 4px;
}
#jrt-timeCont
{
    background-color: #ffffff;
    height: 3px;
    border-radius: 5px;
}
#jrt-timeDigitProgrs
{
    color: #968290;
}
#jrt-timeProgrs
{
    background-color: #077afa;
    height: 3px;
    border-radius: 5px;
    width: 0px;
}