body{
    font-family: Arial, Helvetica, sans-serif;
}
#calc{
    /* background-color: tomato; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 257px;
}
#kav-screenUI{
    /* background-color: purple; */
    height: 100px;
    border-radius:10px 10px 0px 0px;
    border: 1px solid #dfe1e5;
    background-color: #00008b;
    
}
#kav-history{
    height: 50%;
}
#kav-historyText, #kav-current{
    float: right;
    color: white;
    font-size: 32px;
}
#kav-present{
    height: 50%;
}
#kav-operate{
    /* background-color: turquoise; */
    border-radius:0px 0px 10px 10px;
    border: 1px solid #dfe1e5;
    border-top: 0px;
    background-color: black;
}
.kav-operationBtn{
    display: block;
}
.kav-operationBtn div{
    display: inline-block;
}
button{
    width: 50px;
    height: 50px;
    margin: 5px;
}
#kav-clear {
    padding:0px;
    margin-left: 52.5%;
}
#kav-backspace{
    font-size: 15px;
}
.kav-num{
    background-color: #f1f3f4;
    border: 2px solid #f1f3f4 ;
    border-radius: 4px;
}

.kav-operation{
    background-color: #dfe1e5;
    border: 2px solid #dfe1e5;
}


#equalBtn{
    background-color: #4285f4;
    border: 2px solid #4285f4;
    color: white;
}